.box {
  background-color:  #1e222f !important;
  width: 100vmax;
  height: 100vh !important;
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: #1e222f !important;
  }
  @media (max-width:1000px) {
    .container {
      display: flex;
      flex-flow: column;
  
    }
  }

  
.title {
  font-size: 33px;
padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}