select ,
input,
span,
label,
textarea{
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus, select:focus {
  outline: 0;
}
input.question,select.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
}
select.question + label,
input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  transition: width 0.4s ease;
  height: 0px;
}
input.question:focus + label,select.question:focus+ label,
textarea.question:focus + label {
  width: 80%;
}
select.question:focus,
select.question:valid{
  padding-top: 35px;
}
input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}
select.question:focus + label > span,
select.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,select.question:valid + label,
textarea.question:valid + label{
  border-color: green;
}
input.question:invalid,select.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,select.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  opacity: 1;
  background: 'white';
  transition: 'opacity 0.2s ease, background 0.2s ease';
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}
select[type="submit"] {
  opacity: 1;
  background: 'white';
  transition: 'opacity 0.2s ease, background 0.2s ease';
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}
/* */
input[type="submit"]:hover {
  background: #EEE;
}
select[type="submit"]:hover {
  background: #EEE;
}
/* */
input[type="submit"]:active {
  background: #999;
}
select[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"],select.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"],section.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}