.fraimInfo {
  width: auto;
  height: auto;
  border-radius: 15px 15px 15px 15px;
  margin: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: x-large;
  line-height: inherit;
  display: inline-block;
  text-align: center;
  padding: 0px 6px 0px 6px;
}
